<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="<%- require('./favicon.ico') %>" type="image/x-icon" rel="icon" />

    <title>Google</title>

</head>
<body>

    <div class="header">
        <div>
            <i class="header__logo"></i>
        </div>
    </div>

    <div class="container">
        <img class="container__google" src="<%- require('./img/googlelogo.png') %>" alt="">
    </div>

</body>
</html>

